<div class="jumbotron">
  <div class="container">
    <div class="center">
    	<h1>NewCraigslist for myself</h1>
    	<h2>The cleanest way to find a house.</h2>
  	</div>
  	<%= render 'filter' %>
  </div>
</div>